<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Uploaded Images</title>
    <script>
      function deleteImage(imageId) {
        fetch(`/delete_tileimage/${imageId}`, {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
        })
          .then((response) => response.json())
          .then((data) => {
            if (data.success) {
              // Remove the image from the gallery
              document.getElementById(`file-${imageId}`).remove();
            } else {
              alert(data.message);
            }
          });
      }
    </script>
  </head>
  <body>
    <div>
      <h1>Uploaded Images</h1>
      <ul>
        {% for file in files %}
        <li>
          <div id="file-{{ file }}">
            <a href="{{ url_for('main.preview_tilefile', id=file) }}">
              <img
                src="{{ url_for('main.uploaded_tile_file', id=file) }}"
                alt="{{ file }}"
                style="max-width: 200px"
              />
            </a>

            <p>{{ file }}</p>
            <button onclick="deleteImage({{ file }})">Delete</button>
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>
    <a href="{{ url_for('main.mosaify') }}">Back to upload</a>
  </body>
</html>
