<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Home</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        margin: 20px;
      }
      #drop-area-tilearea {
        border: 2px dashed #ccc;
        border-radius: 20px;
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
        text-align: center;
      }
      #upload-area-tilearea {
        border: 2px dashed #ccc;
        border-radius: 20px;
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
        text-align: center;
      }
      #drop-area-tilearea.highlight {
        border-color: purple;
      }
      #fileElem-tilearea {
        display: none;
      }
      .my-form {
        margin-bottom: 10px;
      }
      #gallery-tilearea {
        margin-top: 10px;
      }
      #gallery-tilearea img {
        width: 150px;
        margin: 10px;
      }
    </style>
  </head>
  <body>
    <h1>Welcome, {{ current_user.username }}!</h1>
    {% if current_project %}
    <h2>Current Project ID: {{ current_project.id }}</h2>
    {% else %}
    <h2>No current project selected.</h2>
    {% endif %}
    <br />
    <a href="{{ url_for('main.home') }}">Projects</a>
    <br />
    <!-- Start Tile Images -->
    <div>
      <h2>Upload Tile Images</h2>
      <form id="upload-form-tilearea" class="my-form">
        <div id="drop-area-tilearea">
          <p>Drag and drop Tile images here</p>
          <input
            type="file"
            id="fileElem-tilearea"
            name="files[]"
            multiple
            accept="image/*"
            onchange="handleTileAreaFiles(this.files)"
          />
          <input
            type="file"
            name="files[]"
            multiple
            accept="image/*"
            onchange="handleTileAreaFiles(this.files)"
          />
          <label class="button" for="fileElem-tilearea"></label>
        </div>
        <div id="upload-area-tilearea">
          <div id="gallery-tilearea"></div>
          <button type="button" onclick="uploadTileAreaFiles()">Upload</button>
        </div>
      </form>
      <div>
        <h1>Uploaded Images</h1>
        {% for file in files %}
        <img
          src="{{ url_for('main.uploaded_file', filename=file) }}"
          alt="{{ file }}"
          style="max-width: 32px"
        />
        {% endfor %}
      </div>
      <br />
      <a href="{{ url_for('main.list_files') }}">List uploaded files</a>
    </div>
    <!-- End Tile Images -->

    <!-- Start Target Images -->
    <div>
      <h2>Upload Tile Images</h2>
      <form id="upload-form-targetarea" class="my-form">
        <div id="drop-area-targetarea">
          <p>Drag and drop Tile images here</p>
          <input
            type="file"
            id="fileElem-targetarea"
            name="files[]"
            multiple
            accept="image/*"
            onchange="handleTileAreaFiles(this.files)"
          />
          <input
            type="file"
            name="files[]"
            multiple
            accept="image/*"
            onchange="handleTileAreaFiles(this.files)"
          />
          <label class="button" for="fileElem-targetarea"></label>
        </div>
        <div id="upload-area-targetarea">
          <div id="gallery-targetarea"></div>
          <button type="button" onclick="uploadTileAreaFiles()">Upload</button>
        </div>
      </form>
      <div>
        <h1>Uploaded Images</h1>
        {% for file in files %}
        <img
          src="{{ url_for('main.uploaded_file', filename=file) }}"
          alt="{{ file }}"
          style="max-width: 32px"
        />
        {% endfor %}
      </div>
      <br />
      <a href="{{ url_for('main.list_files') }}">List uploaded files</a>
    </div>
    <!-- End Target Images -->

    <br />
    <a href="{{ url_for('main.mosaify_run') }}">Create Mosaic</a>
    <br />

    <script>
      let dropArea_tilearea = document.getElementById("drop-area-tilearea");
      let filesToUpload = [];

      ["dragenter", "dragover", "dragleave", "drop"].forEach((eventName) => {
        dropArea_tilearea.addEventListener(eventName, preventDefaults, false);
      });

      function preventDefaults(e) {
        e.preventDefault();
        e.stopPropagation();
      }

      ["dragenter", "dragover"].forEach((eventName) => {
        dropArea_tilearea.addEventListener(
          eventName,
          () => dropArea_tilearea.classList.add("highlight"),
          false
        );
      });

      ["dragleave", "drop"].forEach((eventName) => {
        dropArea_tilearea.addEventListener(
          eventName,
          () => dropArea_tilearea.classList.remove("highlight"),
          false
        );
      });

      dropArea_tilearea.addEventListener("drop", handleTileAreaDrop, false);

      function handleTileAreaDrop(e) {
        let dt = e.dataTransfer;
        let files = dt.files;
        handleTileAreaFiles(files);
      }

      function handleTileAreaFiles(files) {
        files = [...files];
        filesToUpload.push(...files);
        initializeTileAreaGallery(files);
      }

      function initializeTileAreaGallery(files) {
        let gallery_tilearea = document.getElementById("gallery-tilearea");
        gallery_tilearea.innerHTML = "";
        files.forEach((file) => {
          let img = document.createElement("img");
          img.src = URL.createObjectURL(file);
          gallery_tilearea.appendChild(img);
        });
      }

      function uploadTileAreaFiles() {
        let formData = new FormData();
        filesToUpload.forEach((file) => {
          formData.append("files[]", file);
        });

        fetch("{{ url_for('main.upload_file') }}", {
          method: "POST",
          body: formData,
        }).then((response) => {
          if (response.ok) {
            window.location.href = "{{ url_for('main.mosaify') }}";
          } else {
            alert("Error uploading files");
          }
        });
      }
    </script>
  </body>
</html>
