<meta charset="utf-8" />
<meta
  name="viewport"
  content="width=device-width, initial-scale=1, shrink-to-fit=no"
/>
<meta name="author" content="Untree.co" />
<link rel="shortcut icon" href="favicon.png" />

<meta name="description" content="" />
<meta name="keywords" content="" />

<link
  href="https://fonts.googleapis.com/css?family=Inter:300,400,500,600, 700,900|Oswald:400,700"
  rel="stylesheet"
/>

<link
  rel="stylesheet"
  href="{{ url_for('static', filename='fonts/icomoon/style.css') }}"
/>

<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/bootstrap.min.css') }}"
/>
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/magnific-popup.css') }}"
/>
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/jquery-ui.css') }}"
/>
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/owl.carousel.min.css') }}"
/>
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/owl.theme.default.min.css') }}"
/>
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='fonts/flaticon/font/flaticon.css') }}"
/>

<link rel="stylesheet" href="{{ url_for('static', filename='css/aos.css') }}" />
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/fancybox.min.css') }}"
/>

<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/style.css') }}"
/>

<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
/>

<title>Mosaify &mdash; Mosaic image creation tool</title>
